<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Hola</title>
	<style>
		html, body {
			heigth: 100%;
			width: 100%;
			background: linear-gradient(to right bottom, lightskyblue, lightcoral);
		}
		h1{
			text-align: center;
		}
		table{
			width: 50%;
		}
		table, th, td{
			border: double 1px black;
			text-align: center;
		}
		th{
			color:  green;
		}
		td{
			color: lightcoral;
		}
	</style>
</head>
<body>
	<h1>Información de Autores</h1>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Edad</th>
			<th>Email</th>
			<th>Coche</th>
		</tr>
		<tr th:each="unAutor : ${autor}">
			<td th:text="${unAutor.id}">Nombre</td>
			<td th:text="${unAutor.nombre}">Nombre</td>
			<td th:text="${unAutor.edad}">Edad</td>
			<td th:text="${unAutor.email}">Email</td>
			<td th:each="coche: ${coches}" th:if="${coche.id} == ${unAutor.coche}" th:text="${coche.marca}">Coche</td>
		</tr>
	</table>
	<a href="#" th:href="@{/}"><button>Volver a la página principal</button></a>
</body>
</html>